{% extends 'base.html.twig' %}

{% block body %}

<div class="row">

        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">

            <article role="pge-title-content">

                <header>

                    <h2><span>Sagaf</span><span>Youssouf</span> My works.</h2>

                </header>

                <p>Welcome to my Homepage.</p>
                <p>I hope you will find to find every thing you want to know about me in this portfolio.</p>

            </article>

        </section>

        
        {% set i = 0 %}
        {% set start = false %}
        {% for work in works %}

        {% if i == 0 %}
        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">

            <figure class="effect-oscar">

                    <img src="{{ asset('assets/uploads/' ~ work.data.name) }}" alt="{{ work.title }}" class="img-responsive"/>

                <figcaption>

                        <h2>{{ work.title }}</h2>

                        <a href="{{ path('index_work', {'id': work.id}) }}">View more</a>

                </figcaption>

            </figure>

        </section>
        {% endif %}

        {% if i > 0 %}
        {% if i == 1 %}
        <div class="clearfix"></div>
        {% endif %}

        {% if (i - 1) % 8 == 0 and not start %}
        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid reorganize">

            <ul class="grid-lod effect-2" id="grid">

        {% endif %}
                

                <li>

                    <figure class="effect-oscar">

                    <img  src="{{ asset('assets/uploads/' ~ work.data.name) }}" alt="{{ work.title }}" class="img-responsive"/>

                    <figcaption>

                        

                            <h2>{{ work.title }}</h2>

                            <a href="{{ path('index_work', {'id': work.id}) }}">View more</a>

                        

                    </figcaption>

                </figure>

                </li>

        {% if start %}
            </ul>

        </section>

        {% set start = false %}
        {% elseif (i + 1) % 8 == 0 %}
        {% set start = true %}
        {% endif %}
        {% endif %}

        {% set i = i + 1 %}
        {% endfor %}

        {% if (i - 1) % 8 != 0 and i > 1 %}
            </ul>

        </section>
        {% endif %}

        <div class="clearfix"></div>

    </div>

{% endblock %}
