{% extends 'admin.html.twig' %}
{% block body %}
<h1>
    Liste des works
    <a href="{{ path('admin_works_create') }}" class="btn btn-outline-success">Ajouter</a>
</h1>

<section class="works">
    {% set i = 0 %}
    {% for work in works %}
    <div class="card mb-3">
        <h3 class="card-header">
            {{ work.title }}
        </h3>
        <img width="200" src="{{ asset('assets/uploads/' ~ work.data.name) }}" alt="Card image">
        <div class="card-body">
            <a href="{{ path('admin_works_edit', {'id': work.id}) }}" class="card-link">Editer</a>
            <a href="#" class="card-link text-danger" data-toggle="modal" data-target="#delete{{ i }}">Supprimer</a>
        </div>
    </div>

    <div class="modal" id="delete{{ i }}" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Supprimer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Voulez-vous vraiment supprimer {{ work.title }} ?</p>
                </div>
                <div class="modal-footer">
                    <a href="{{ path('admin_works_delete', {'id': work.id}) }}" class="btn btn-primary">Confirmer</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>

    {% set i = i + 1 %}

    {% endfor %}

</section>

{% endblock %}
