<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>
            Admin
        </title>
        <meta content="" name="description">
        <meta content="LucienBrd" name="author">
        <meta content="" name="keywords">
        <meta content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
        {% block stylesheets %}
        <!-- style start -->
        <link href="https://bootswatch.com/4/darkly/bootstrap.min.css" media="all" rel="stylesheet" type="text/css">
        <link rel="icon" type="image/png" href="/assets/img/logo-dark.png" />
        <!-- style end -->
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ path('index') }}">Accueil</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_works') }}">Works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_blogs') }}">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_about') }}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_parameters') }}">Parameters</a>
                    </li>
                </ul>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-dismissible alert-{{ label }}">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <i class="fa fa-feather-alt"></i> {{ message }} 
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        {% block javascripts %}
        <!-- scripts start -->
        <script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
        <script src="https://bootswatch.com/_vendor/popper.js/dist/umd/popper.min.js"></script>
        <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- scripts end -->
        {% endblock %}
    </body>
</html>
